/* Menambahkan font Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Menambahkan font Roboto */
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Gaya default untuk navbar (benar-benar transparan di bagian atas) */
.navbar-custom {
  background-color: rgba(0, 0, 0, 0); /* Benar-benar transparan saat halaman pertama kali dibuka */
  padding: 1.5rem 1.5rem; /* Padding lebih besar saat di atas */
  transition: background-color 0.4s ease, padding 0.4s ease; /* Transisi smooth */
}

/* Gaya saat di-scroll (lebih solid dan ukuran default) */
.navbar-scroll {
  background-color: rgba(0, 0, 0, 1); /* Hitam solid saat di-scroll */
  padding: 0.8rem 0.8rem; /* Ukuran padding lebih kecil */
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

/* Gaya untuk brand */
.navbar-brand {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* Gaya ketika di-scroll (opsional jika ingin mengubah ukuran brand juga) */
.navbar-scroll .navbar-brand {
  font-size: 1.6rem; /* Ukuran lebih kecil saat di-scroll */
}

/* Gaya link navigasi */
.nav-link {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/* Tambahkan spacing antar item */
.nav-item {
  margin-left: 1.5rem;
}

/* Carousel Jumbotron */
#carouselExampleCaptions .carousel-image-container {
  position: relative;
  height: 100vh; /* Tinggi gambar 100% dari tinggi layar */
  overflow: hidden;
}

#carouselExampleCaptions .carousel-image-container img {
  width: 100%;
  height: 100%; /* Memastikan gambar mengisi container sepenuhnya */
  object-fit: cover; /* Menghindari distorsi gambar */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Ubah ke 0.5s */
  will-change: transform, opacity; /* Tambahkan untuk hardware acceleration */
}

#carouselExampleCaptions .carousel-item {
  position: relative;
}

#carouselExampleCaptions .carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Overlay hitam */
  z-index: 1; /* Overlay berada di atas gambar */
  transition: background-color 0.6s ease; /* Transisi smooth pada overlay */
}

#carouselExampleCaptions .carousel-caption {
  z-index: 2; /* Caption berada di atas overlay */
  position: absolute;
  bottom: 35%; /* Ubah posisi bottom untuk menjauh dari dasar gambar */
  left: 5%; /* Mulai dari kiri */
  transform: translateY(0%);
  color: white; /* Teks putih */
  transition: opacity 0.6s ease;
  text-align: left; /* Selaraskan teks ke kiri */
  padding: 20px; /* Tambahkan padding untuk ruang di sekitar teks */
  padding-left: 50px;
}

/* Ukuran font untuk judul dan deskripsi */
#carouselExampleCaptions .carousel-caption h1 {
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif; /* Gunakan Montserrat */
  font-weight: bold; /* Terapkan bold */
  margin-bottom: 25px;
}

#carouselExampleCaptions .carousel-caption p {
  font-size: 1.2rem; /* Ukuran font untuk deskripsi */
}

#carouselExampleCaptions .custom-btn {
  color: white; /* Warna teks default putih */
  border: 2px solid white; /* Outline putih */
  padding: 10px 20px; /* Spasi dalam tombol */
  display: flex; /* Menggunakan flexbox */
  align-items: center; /* Menyelaraskan ikon dan teks di tengah secara vertikal */
  justify-content: center; /* Pusatkan konten secara horizontal */
  transition: all 0.3s ease; /* Efek transisi yang halus */
}

#carouselExampleCaptions .custom-btn:hover {
  background-color: white; /* Blok putih saat di-hover */
  color: black; /* Teks hitam saat di-hover */
}

#carouselExampleCaptions .custom-btn i {
  margin-right: 8px; /* Jarak antara ikon dan teks */
  font-size: 1.5em; /* Memperbesar ukuran ikon */
  display: inline-block;
  vertical-align: middle; /* Pastikan ikon tetap di tengah */
}

.icon-container {
  border-radius: 5px;
  padding: 10px; /* Meningkatkan padding untuk lebih banyak ruang di dalam kontainer */
  position: absolute;
  bottom: 20px; /* Atur jarak dari bawah dalam gambar */
  left: 50px; /* Posisikan kontainer di kiri gambar */
  right: 50px; /* Posisikan kontainer di kanan gambar */
  display: flex;
  justify-content: space-between; /* Membagi dua kolom */
  align-items: center; /* Menjaga ikon di tengah vertikal */
  z-index: 3; /* Pastikan ikon di atas overlay */
  width: calc(100% - 100px); /* Lebar responsif */
}

.social-icons {
  display: flex; /* Mengatur ikon sosial menjadi baris */
  flex-direction: column; /* Susun ikon secara vertikal */
  align-items: center; /* Pusatkan ikon secara horizontal */
}

.social-icon {
  color: white; /* Warna ikon putih */
  font-size: 24px; /* Ukuran ikon */
  margin-right: 15px; /* Ruang antara ikon */
  text-decoration: none; /* Menghapus garis bawah */
  transition: color 0.3s; /* Smooth transition untuk hover */
}

.social-icon:hover {
  color: #3d3c3c; /* Warna saat hover */
}

.social-label {
  font-size: 18px; /* Ukuran font */
  color: white; /* Warna teks */
  margin-bottom: 5px; /* Jarak antara label dan ikon sosial */
  text-align: center; /* Pusatkan teks */
}

.social-icon-group {
  display: flex; /* Mengatur ikon dalam satu baris */
  justify-content: center; /* Pusatkan ikon */
  gap: 10px; /* Jarak antar ikon */
}

.carousel-controls {
  display: flex; /* Mengatur kontrol carousel menjadi baris */
  align-items: center; /* Menjaga kontrol di tengah vertikal */
}

.carousel-icon {
  font-size: 24px; /* Ukuran ikon */
  color: white; /* Warna ikon */
  cursor: pointer; /* Tangan saat hover */
  margin-left: 25px; /* Ruang di sebelah kiri kontrol */
  transition: color 0.3s ease; /* Pastikan transisi halus */
}

.carousel-icon:hover {
  color: #3d3c3c; /* Warna saat hover */
}

/* Media query untuk responsivitas pada ukuran kecil */
@media (max-width: 576px) {
  #carouselExampleCaptions .carousel-caption {
    bottom: 30%;
    left: 0;
  }

  #carouselExampleCaptions .carousel-caption h1 {
    font-size: 2rem; /* Ukuran font besar untuk judul */
  }

  #carouselExampleCaptions .carousel-caption p {
    font-size: 1rem; /* Ukuran font lebih kecil untuk deskripsi */
  }

  .icon-container {
    left: 10px; /* Kurangi padding kiri */
    right: 10px; /* Kurangi padding kanan */
    bottom: 25px; /* Atur jarak dari bawah dalam gambar */
    width: calc(100% - 30px);
  }
}

/* Carousel Feature - 2nd Carousel */

.carouselFeature-container {
  /* background-color: black; */
  padding-bottom: 20px;
}

#carouselFeature .carousel-item.cloned {
  display: none; /* Sembunyikan duplikat item agar tidak mengganggu tampilan */
}

#carouselFeature .carousel-control-prev,
#carouselFeature .carousel-control-next {
  width: 50px; /* Lebar panah */
  height: 50px; /* Tinggi panah */
  background-color: rgba(0, 0, 0, 0.8); /* Warna latar belakang gelap */
  border-radius: 50%; /* Membuat panah bulat */
  display: flex; /* Mengatur tampilan flex */
  justify-content: center; /* Menempatkan ikon di tengah */
  align-items: center; /* Menempatkan ikon di tengah */
  transition: background-color 0.3s; /* Transisi latar belakang */
  position: absolute; /* Menggunakan posisi absolute */
  top: 50%; /* Menempatkan di tengah secara vertikal */
  transform: translateY(-50%); /* Mengatur offset vertikal */
  z-index: 5;
}

#carouselFeature .carousel-control-prev {
  left: 2vw; /* Jarak dari kiri */
}

#carouselFeature .carousel-control-next {
  right: 2vw; /* Jarak dari kanan */
}

#carouselFeature .carousel-control-prev:hover,
#carouselFeature .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 1); /* Warna latar belakang lebih gelap saat hover */
}

#carouselFeature .carousel-control-prev-icon,
#carouselFeature .carousel-control-next-icon {
  width: 20px; /* Lebar ikon */
  height: 20px; /* Tinggi ikon */
  background-image: none; /* Hapus gambar latar */
  border: solid white; /* Warna dan tebal border */
  border-width: 0 2px 2px 0; /* Bentuk panah */
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg); /* Rotasi panah */
}

#carouselFeature .carousel-control-next-icon {
  transform: rotate(-45deg); /* Rotasi panah ke kanan */
}

#carouselFeature .hover-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin: 15px; /* Tambahkan margin pada setiap kartu */
}

/* Efek melayang saat hover */
#carouselFeature .hover-card:hover {
  transform: translateY(-10px);
}

/* Gambar di dalam kartu */
#carouselFeature .hover-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease, height 0.8s ease;
  position: relative;
  z-index: 1;
}

/* Overlay pada gambar */
#carouselFeature .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

/* Tampilkan overlay saat hover */
#carouselFeature .hover-card:hover .overlay {
  opacity: 1;
}

/* Gambar zoom saat hover */
#carouselFeature .hover-card:hover img {
  transform: scale(1.05);
  height: 120%;
}

/* Konten teks dalam kartu yang pertama */
#carouselFeature .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 1;
  z-index: 3;
}

/* Teks pertama hilang saat hover */
#carouselFeature .hover-card:hover .card-body {
  opacity: 0;
  transform: translateY(100px);
}

/* Konten teks dalam kartu yang kedua (muncul dari atas) */
#carouselFeature .new-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 20px;
  transition: opacity 0.8s ease, transform 0.8s ease;
  opacity: 0;
  z-index: 4;
}

/* Teks baru muncul saat hover */
#carouselFeature .hover-card:hover .new-text {
  opacity: 1;
  transform: translateY(10px);
}

@media screen and (min-width: 576px) {
  #carouselFeature .carousel-inner {
    display: flex;
    width: 100%;
    margin-inline: auto;
    padding: 1em 2em;
    overflow: hidden;
  }
  #carouselFeature .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 995px) {
  #carouselFeature .carousel-item {
    flex: 0 0 calc(100% / 3);
  }
}
